 <style type="text/css">
      .modal .modal-dialog {
        width: 800px;
      }
    </style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="sistema.nmSistema"  >
                </div>
                <div class="form-group">
                    <label>Descricao:</label>
                    <input type="text" class="form-control" [(ngModel)]="sistema.dsSistema" >
                </div>
                <div class="form-group">
                    <label>Sigla:</label>
                    <input type="text" class="form-control" [(ngModel)]="sistema.sgSistema" >
                </div>
                 <div class="form-group">
                    <label>Chave:</label>
                    <input type="password" class="form-control" [(ngModel)]="sistema.txChaveValidacao" >
                </div>
                 <div class="form-group">
                    <label>Url:</label>
                    <input type="text" class="form-control" [(ngModel)]="sistema.txUrl" >
                </div>
                 <div class="form-group">
                    <label>Dt. Validacao.</label>
                    <input type="text" class="form-control" [(ngModel)]="sistema.dtUltValidacao" >
                </div>
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="cancelar()" >Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
            </div>
        </div>
    </div>
</div>
