<h1>Sistemas encontrados ({{sistemaCount}})</h1>
<ul>
    <li *ngFor="let sistema of sistemas" [class.selected]="sistema == selectedSistema">
        <a href="javascript:void(0)" (click)="select(sistema)">
            {{sistema.id}} - {{sistema.nmSistema}}
            <span [ngSwitch]="sistema.isAtivo">
                <template [ngSwitchWhen]="true">[Ativo]</template>
                <template [ngSwitchWhen]="false">[Inativo]</template>
            </span>
        </a>
    </li>
</ul>
<sistema *ngIf="selectedSistema" [sistema]="selectedSistema" (statusChanged)="calculateTodoCount()"></sistema>