 <style type="text/css">
      .modal .modal-dialog {
        width: 800px;
      }
    </style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.nmUsuario"  >
                </div>
                <div class="form-group">
                    <label>Cpf:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.txCpf" >
                </div>
                <div class="form-group">
                    <label>Login:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.nmLogin" >
                </div>
                 <div class="form-group">
                    <label>Senha:</label>
                    <input type="password" class="form-control" [(ngModel)]="usuario.nmSenha" >
                </div>
                 <div class="form-group">
                    <label>E-mail:</label>
                    <input type="email" class="form-control" [(ngModel)]="usuario.txEmail" >
                </div>
                 <div class="form-group">
                    <label>Dt. Nasc.</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.dtNascimento" >
                </div>
                 <div class="form-group">
                    <label>Funcao:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.nmFuncao" >
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="cancelar()" >Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
            </div>
        </div>
    </div>
</div>
